.name_text{
    color: #F57920;
    font-size: 34px;
    font-weight: 400;
}

.p-menubar{
    background: #171717 !important;
    border-radius: 50px !important;
    width: fit-content;
}

.p-menubar-item-link {
    padding-inline-start: 20px !important;
}

.p-menubar-item:not(.p-disabled) > .p-menubar-item-content:hover {
    color: #F57920 !important;
    background: none !important;
}

.p-menubar-item.p-focus > .p-menubar-item-content {
    color: #ffffff !important;
    background: #F57920 !important;
    border-radius: 50px !important;
}

.p-menubar-item-content{
    border-radius: 50px !important;
    font-size: 20px !important;
    color: #ffffff !important;
}

.p-menubar-item-content .p-menubar-item-link-active {
    color: #ffffff !important;
    background: #F57920 !important;
    border-radius: 50px !important;
    /* padding-inline: 20px !important; */
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}


::ng-deep .p-menubar .active-link > a {
  font-weight: bold;
  color: #F57920 !important;
  border-bottom: 2px solid #F57920;
}

.menubar_div{
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-inline: 2rem;
  background: #171717 !important;
  border-radius: 50px !important;
  width: fit-content;
  padding-block: 0.5rem;
}

.nav-list li {
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  position: relative;
  padding-block: 0.5rem;
  padding-inline:1.5rem;
  transition: all 0.3s ease;
}

.nav-list li.active {
    color: #ffffff !important;
    background: #F57920 !important;
    border-radius: 50px !important;
}
