::ng-deep .p-button-help{
    background: #FFF1E7 !important;
    color: #DF5F02 !important;
    border: 1px solid #DF5F02 !important;
    border-radius: 50px !important;
    width: 170px;
    height: 50px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif !important;
}

.hire_me{
  font-size: 58px; 
  font-weight: 600;
}

.font-20{
    font-size: 20px;
    font-weight: 600;
}

.two_text{
    font-size: 36px;
    font-weight: 600;
}

.project_text{
    color: #98A2B3;
    font-size: 24px;
}

.font-16{
    font-size: 16px;
    color: #556070;
    line-height: 1.5rem;
}

.work_details{
font-size: 22px;
color: #98A2B3;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.card_des{
    padding-inline: 2rem;
    padding-block: 2rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
}