::ng-deep .p-button-help {
    background: #FFF1E7 !important;
    color: #DF5F02 !important;
    border: 1px solid #DF5F02 !important;
    border-radius: 50px !important;
    width: 235px;
    height: 68px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif !important;
}

.bg-color {
    background: #ffffff !important;
    color: #141313 !important
}

.hire_me {
    font-size: 58px;
    font-weight: 600;
}

.font-20 {
    font-size: 20px;
    font-weight: 600;
}

.two_text {
    font-size: 36px;
    font-weight: 600;
}

.project_text {
    color: #98A2B3;
    font-size: 24px;
}

.font-16 {
    font-size: 16px;
    color: #556070;
    line-height: 1.5rem;
}

.work_details {
    font-size: 22px;
    color: #98A2B3;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.card_des {
    padding-inline: 2rem;
    padding-block: 2rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
}


::ng-deep .p-inputnumber-input {
    background: #ffffff !important;
    color: #141313 !important
}

.mob_resume_container {
    width: 100%;
    background-color: #F2F4F7 !important;
    color: #171717;
}

.mob_hire_me {
    font-size: 30px;
    font-weight: 600;
}

.mob_work_details {
    color: #98A2B3;
    font-size: 12px;
    font-weight: 400px;
}

.mob_hire_me_btn ::ng-deep .p-button-help {
    width: 226px;
    height: 50px;
}

.mob_card_des {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
}

.contact-loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(176, 170, 170, 0.5);
}

@media (min-width: 100px) and (max-width: 600px){
  ::ng-deep .p-toast{
    width: auto !important;
  }
}