.scroll-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
  transform: rotate(357deg);
}

.scroll-track {
  display: flex;
  width: max-content;
  animation: scroll-left 10s linear infinite;
  padding-block: 5px;
  background-color: #ffffff;
}

.bg-color{
  background-color: #F2F4F7 !important;
  color:#171717
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 2rem;
  font-size: 24px;
  white-space: nowrap;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.font-64{
  font-size: 64px;
  font-weight: 600;
}

.running_texts{
  width: 100vw; 
  height: 150px; 
  background-color: #FFB783; 
  overflow: hidden;
}

.project_container{
  background-color: #ffffff !important;
  color:#171717;
}

.font_30{
  font-size: 30px;
  font-weight: 600;
}

.mob_running_texts{
    width: 100%;
    height: 88px;
    background-color: #DF5F02;
    overflow: hidden;
}

.mob_skill_item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 2rem;
  font-size: 20px;
  white-space: nowrap;
}

.mob_scroll_track {
  display: flex;
  width: max-content;
  animation: scroll-left 10s linear infinite;
  padding-block: 1px;
  background-color: #ffffff;
}